<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            News app
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let item of news">
        <ion-img src="https:{{item?.fields.image.fields.file.url}}"></ion-img>
        <ion-card-content>
            <ion-card-header>
                <ion-card-subtitle>{{item?.fields.title}}</ion-card-subtitle>
                <ion-card-title>{{item?.fields.date}}</ion-card-title>
            </ion-card-header>
            <p>{{item?.fields.content}}
            </p>
            <ion-item lines="none">
                <ion-button fill="solid">Action</ion-button>
                <ion-icon name="heart" slot="end"></ion-icon>
                <ion-icon name="share" slot="end"></ion-icon>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>